<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bienvenidos a nuestra biblioteca de héroes informaticos</h1>
    <img src="/img/biblioteca2.jpg" alt="biblioteca">
    <h2>Les presentamos personajes de la historia que han marcado los principios de la informatica</h2>
    <li><a href="/">Home</a></li>
    <li><a href="/babbage">Charles Babbage</a></li>
    <li><a href="/lovelace">Ada Lovelace</a></li>
    <li><a href="/turing">Alan Turing</a></li>
    <li><a href="/Clarke">Joan Clarke</a></li>
    <li><a href="Hooper">Grace Hooper</a></li>
    <li><a href="/Hammilton">Margaret Hammilton</a></li>
    <li><a href="/berners-lee">Tim berners-lee</a></li>
</body>
</html>